<h1>Listing orders</h1>
<p id="notice"><%= notice %></p>
<table>
  <th> Customer Name </th>
  <th> Pizza Size </th>
  <th> Toppings </th>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.customer_name %> </td>
      <td><%= pizza_size_display(order.pizzas.first.size) %> </td>
      <td><%= order.pizzas.first.toppings %> </td>
      <% if admin_signed_in? %>
        <td><%= link_to 'Edit order', edit_order_path(order) %>
        <td><%= link_to 'Delete order', order_path(order), :confirm => "Are you sure?", :method => :delete %>
      <% end %>
    </tr>
  <% end %>
  </table>
  <br />
  <%= link_to 'New order', new_order_path %>
  <% if user_signed_in? && !admin_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  <% elsif !admin_signed_in? %>
    <%= link_to('Login', new_user_session_path)  %>
  <% end %>
  <% if admin_signed_in? %>
    <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>
  <% end %>
  <%= link_to('Delete all', destroy_all_orders_path, :method => :delete) %>
