<h1>New Order</h1>

<%= form_for(@order) do |form| %>
  <div class="field">
    <%= form.label :customer_name %><br />
    <%= form.text_field :customer_name %>
  </div>
  <%= form.fields_for :pizzas do |builder| %>
    <div class="field">
      <%= builder.label :size %> <br />
      <%= builder.text_field :size %>
    </div>
    <div class="field">
      <%= builder.label :toppings %> <br />
      <%= builder.text_area :toppings %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', orders_path %>
